@import "../node_modules/firacode/distr/fira_code.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

.sm\:bg-logo-alt {
  background-repeat: no-repeat;
  background-size: auto 90%;
  background-position: bottom right -100px;
}

/* Fix for sticky button hover on iOS */
/* https://github.com/saadeghi/daisyui/issues/827 */
@media (max-width: 640px) {
  .btn-option:hover {
    --tw-border-opacity: 1;
    border-color: hsl(var(--n) / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: hsl(var(--n) / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: hsl(var(--nc) / var(--tw-text-opacity));
  }
}
